<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Comparar datos
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="row">
        <div class="col-md-12">
            <ion-item>
                <ion-label color="orange">Seleccionar nodo a comparar</ion-label>
                <ion-select (ionChange)="onSelectChange($event)">
                    <ion-select-option>peer0.asturias.antonio.com</ion-select-option>
                    <ion-select-option>peer0.brasil.antonio.com</ion-select-option>
                    <ion-select-option>peer0.chicago.antonio.com</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label color="orange">Seleccionar campos a mostrar</ion-label>
                <ion-select multiple="true" (ionChange)="onLabelsDataChange($event)">
                    <ion-select-option>id</ion-select-option>
                    <ion-select-option>temperature</ion-select-option>
                    <ion-select-option>device</ion-select-option>
                    <ion-select-option>gps</ion-select-option>
                    <ion-select-option>hour</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label color="orange">Seleccionar datos a mostrar</ion-label>
                <ion-select (ionChange)="onDatosDataChange($event)">
                    <ion-select-option>Todos</ion-select-option>
                    <ion-select-option>Discrepancias</ion-select-option>
                </ion-select>
            </ion-item>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header card-header-orange">
                    <h4 class="card-title ">Datos blockchain</h4>
                    <p class="card-category"> Todos los datos guardados en la blockchain</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" [dataSource]="dataSourceAuditory" mat-table>
                            <!-- Position Column -->
                            <ng-container matColumnDef="id" *ngIf="mostrarColumna('id')">
                                <th mat-header-cell *matHeaderCellDef class=" text-primary"> ID </th>
                                <ng-container *matCellDef="let element">
                                    <td mat-cell *ngIf="!isDiferente(element)"> {{element.id}} </td>
                                    <td mat-cell *ngIf="isDiferente(element)" style="color:red;"> {{element.id}} </td>
                                </ng-container>
                            </ng-container>
                            <ng-container matColumnDef="temperature" *ngIf="!mostrarColumna('id')">
                                <th [ngStyle]="{'display':!size?'none':''}" mat-header-cell *matHeaderCellDef class=" text-primary"> ID </th>
                            </ng-container>
                            <!-- Name Column -->
                            <ng-container matColumnDef="temperature" *ngIf="mostrarColumna('temperature')">
                                <th mat-header-cell *matHeaderCellDef class=" text-primary"> Temperatura </th>
                                <ng-container *matCellDef="let element">
                                    <td mat-cell *ngIf="!isDiferente(element)"> {{element.temperature}} </td>
                                    <td mat-cell *ngIf="isDiferente(element)" style="color:red;"> {{element.temperature}} </td>
                                </ng-container>
                            </ng-container>
                            <ng-container matColumnDef="temperature" *ngIf="!mostrarColumna('temperature')">
                                <th [ngStyle]="{'display':!size?'none':''}" mat-header-cell *matHeaderCellDef class=" text-primary"> Temperatura </th>
                            </ng-container>
                            <!-- Weight Column -->
                            <ng-container matColumnDef="device" *ngIf="mostrarColumna('device')">
                                <th mat-header-cell *matHeaderCellDef class=" text-primary"> Device </th>
                                <ng-container *matCellDef="let element">
                                    <td mat-cell *ngIf="!isDiferente(element)"> {{element.device}} </td>
                                    <td mat-cell *ngIf="isDiferente(element)" style="color:red;"> {{element.device}} </td>
                                </ng-container>
                            </ng-container>
                            <ng-container matColumnDef="device" *ngIf="!mostrarColumna('device')">
                                <th [ngStyle]="{'display':!size?'none':''}" mat-header-cell *matHeaderCellDef class=" text-primary"> Device </th>
                            </ng-container>
                            <!-- Symbol Column -->
                            <ng-container matColumnDef="gps" *ngIf="mostrarColumna('gps')">
                                <th mat-header-cell *matHeaderCellDef class=" text-primary"> GPS </th>
                                <ng-container *matCellDef="let element">
                                    <td mat-cell *ngIf="!isDiferente(element)"> {{element.gps}} </td>
                                    <td mat-cell *ngIf="isDiferente(element)" style="color:red;"> {{element.gps}} </td>
                                </ng-container>
                            </ng-container>
                            <ng-container matColumnDef="gps" *ngIf="!mostrarColumna('gps')">
                                <th [ngStyle]="{'display':!size?'none':''}" mat-header-cell *matHeaderCellDef class=" text-primary"> GPS </th>
                            </ng-container>
                            <!-- Position Column -->
                            <ng-container matColumnDef="node" *ngIf="mostrarColumna('node')">
                                <th [ngStyle]="{'display':!size?'none':''}" mat-header-cell *matHeaderCellDef class=" text-primary"> Nodo </th>
                                <td [ngStyle]="{'display':!size?'none':''}" mat-cell *matCellDef="let element"> {{element.node}} </td>
                            </ng-container>
                            <ng-container matColumnDef="node" *ngIf="!mostrarColumna('node')">
                                <th [ngStyle]="{'display':!size?'none':''}" mat-header-cell *matHeaderCellDef class=" text-primary"> Nodo </th>
                            </ng-container>
                            <!-- Position Column -->
                            <ng-container matColumnDef="hour" *ngIf="mostrarColumna('hour')">
                                <th mat-header-cell *matHeaderCellDef class=" text-primary"> Hora </th>
                                <ng-container *matCellDef="let element">
                                    <td mat-cell *ngIf="!isDiferente(element)"> {{element.hour}} </td>
                                    <td mat-cell *ngIf="isDiferente(element)" style="color:red;"> {{element.hour}} </td>
                                </ng-container>
                            </ng-container>
                            <ng-container matColumnDef="hour" *ngIf="!mostrarColumna('hour')">
                                <th [ngStyle]="{'display':!size?'none':''}" mat-header-cell *matHeaderCellDef class=" text-primary"> Hora </th>
                            </ng-container>
                            <!-- tables -->
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header card-header-orange">
                    <h4 class="card-title ">Datos local</h4>
                    <p class="card-category"> Todos los datos guardados en la BBDD local</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" [dataSource]="dataSourceRead" mat-table>
                            <!-- Position Column -->
                            <ng-container matColumnDef="id" *ngIf="mostrarColumna('id')">
                                <th mat-header-cell *matHeaderCellDef class=" text-primary"> ID </th>
                                <ng-container *matCellDef="let element">
                                    <td mat-cell *ngIf="!isDiferenteLocal(element)"> {{element.id}} </td>
                                    <td mat-cell *ngIf="isDiferenteLocal(element)" style="color:red;"> {{element.id}} </td>
                                </ng-container>
                            </ng-container>
                            <ng-container matColumnDef="temperature" *ngIf="!mostrarColumna('id')">
                                <th [ngStyle]="{'display':!size?'none':''}" mat-header-cell *matHeaderCellDef class=" text-primary"> ID </th>
                            </ng-container>
                            <!-- Name Column -->
                            <ng-container matColumnDef="temperature" *ngIf="mostrarColumna('temperature')">
                                <th mat-header-cell *matHeaderCellDef class=" text-primary"> Temperatura </th>
                                <ng-container *matCellDef="let element">
                                    <td mat-cell *ngIf="!isDiferenteLocal(element)"> {{element.temperature}} </td>
                                    <td mat-cell *ngIf="isDiferenteLocal(element)" style="color:red;"> {{element.temperature}} </td>
                                </ng-container>
                            </ng-container>
                            <ng-container matColumnDef="temperature" *ngIf="!mostrarColumna('temperature')">
                                <th [ngStyle]="{'display':!size?'none':''}" mat-header-cell *matHeaderCellDef class=" text-primary"> Temperatura </th>
                            </ng-container>
                            <!-- Weight Column -->
                            <ng-container matColumnDef="device" *ngIf="mostrarColumna('device')">
                                <th mat-header-cell *matHeaderCellDef class=" text-primary"> Device </th>
                                <ng-container *matCellDef="let element">
                                    <td mat-cell *ngIf="!isDiferenteLocal(element)"> {{element.device}} </td>
                                    <td mat-cell *ngIf="isDiferenteLocal(element)" style="color:red;"> {{element.device}} </td>
                                </ng-container>
                            </ng-container>
                            <ng-container matColumnDef="device" *ngIf="!mostrarColumna('device')">
                                <th [ngStyle]="{'display':!size?'none':''}" mat-header-cell *matHeaderCellDef class=" text-primary"> Device </th>
                            </ng-container>
                            <!-- Symbol Column -->
                            <ng-container matColumnDef="gps" *ngIf="mostrarColumna('gps')">
                                <th mat-header-cell *matHeaderCellDef class=" text-primary"> GPS </th>
                                <ng-container *matCellDef="let element">
                                    <td mat-cell *ngIf="!isDiferenteLocal(element)"> {{element.gps}} </td>
                                    <td mat-cell *ngIf="isDiferenteLocal(element)" style="color:red;"> {{element.gps}} </td>
                                </ng-container>
                            </ng-container>
                            <ng-container matColumnDef="gps" *ngIf="!mostrarColumna('gps')">
                                <th [ngStyle]="{'display':!size?'none':''}" mat-header-cell *matHeaderCellDef class=" text-primary"> GPS </th>
                            </ng-container>
                            <!-- Position Column -->
                            <ng-container matColumnDef="node" *ngIf="mostrarColumna('node')">
                                <th [ngStyle]="{'display':!size?'none':''}" mat-header-cell *matHeaderCellDef class=" text-primary"> Nodo </th>
                                <td [ngStyle]="{'display':!size?'none':''}" mat-cell *matCellDef="let element"> {{element.node}} </td>
                            </ng-container>
                            <ng-container matColumnDef="node" *ngIf="!mostrarColumna('node')">
                                <th [ngStyle]="{'display':!size?'none':''}" mat-header-cell *matHeaderCellDef class=" text-primary"> Nodo </th>
                            </ng-container>
                            <!-- Position Column -->
                            <ng-container matColumnDef="hour" *ngIf="mostrarColumna('hour')">
                                <th mat-header-cell *matHeaderCellDef class=" text-primary"> Hora </th>
                                <ng-container *matCellDef="let element">
                                    <td mat-cell *ngIf="!isDiferenteLocal(element)"> {{element.hour}} </td>
                                    <td mat-cell *ngIf="isDiferenteLocal(element)" style="color:red;"> {{element.hour}} </td>
                                </ng-container>
                            </ng-container>
                            <ng-container matColumnDef="hour" *ngIf="!mostrarColumna('hour')">
                                <th [ngStyle]="{'display':!size?'none':''}" mat-header-cell *matHeaderCellDef class=" text-primary"> Hora </th>
                            </ng-container>
                            <!-- tables -->
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ion-footer>
  <ion-toolbar>
    © Copyright Antonio Payá González 2019
  </ion-toolbar>
</ion-footer>
</ion-content>
