<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Filtrar Datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid [ngStyle]="{'display':submitted?'none':''}">
    <ion-row>
      <div class="card card-chart">
            <div class="card-header card-header-orange">
                <h4 class="card-title">Buscar por</h4>
            </div>
            <div class="card-body">
                <form [formGroup]="filter" (ngSubmit)="search()">
                  <div class="row">
                    <div class="col-md-6 col-sm-12">
                      <ion-item>
                        <ion-label position="stacked">ID</ion-label>
                        <input type="text" name="filterId" id="filterId" formControlName="filterId" class="form-control" placeholder="ID">
                      </ion-item>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <ion-item>
                        <ion-label position="stacked">Temperatura</ion-label>
                        <input type="text" name="filterTemp" id="filterTemp" formControlName="filterTemp" class="form-control" placeholder="Temperatura">
                      </ion-item>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <ion-item>
                        <ion-label position="stacked">Temperatura mínima</ion-label>
                        <input type="text" name="filterLowerTemp" id="filterLowerTemp" formControlName="filterLowerTemp" class="form-control" placeholder="Temperatura mínima">
                      </ion-item>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <ion-item>
                        <ion-label position="stacked">Temperatura máxima</ion-label>
                        <input type="text" name="filterGreaterTemp" id="filterGreaterTemp" formControlName="filterGreaterTemp" class="form-control" placeholder="Temperatura máxima">
                      </ion-item>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <ion-item>
                        <ion-label position="stacked">Device</ion-label>
                        <input type="text" name="filterDevice" id="filterDevice" formControlName="filterDevice" class="form-control" placeholder="device">
                      </ion-item>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <ion-item>
                        <ion-label position="stacked">Nodo</ion-label>
                        <input type="text" name="filterNode" id="filterNode" formControlName="filterNode" class="form-control" placeholder="nodo">
                      </ion-item>
                    </div>
                  </div>
                  <button class="btn btn-orange btn-round btn-block" expand="full" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </ion-row>
  </ion-grid>

  <div class="card" [ngStyle]="{'display':!submitted?'none':''}">
      <div class="card-header card-header-orange">
          <h4 class="card-title ">Resultados</h4>
          <p class="card-category"> Resultados de los filtros</p>
      </div>
      <div class="card-body">
          <div class="table-responsive">
              <table mat-table [dataSource]="dataSource" class="table">
                <!-- Position Column -->
                <ng-container matColumnDef="Key">
                  <th mat-header-cell *matHeaderCellDef class=" text-primary"> ID </th>
                  <td mat-cell *matCellDef="let element"> {{element.Key}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="temp">
                  <th mat-header-cell *matHeaderCellDef class=" text-primary"> Temperatura </th>
                  <td mat-cell *matCellDef="let element"> {{element.Record.temperature}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="device">
                  <th mat-header-cell *matHeaderCellDef class=" text-primary"> Device </th>
                  <td mat-cell *matCellDef="let element"> {{element.Record.device}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="gps">
                  <th [ngStyle]="{'display':!size?'none':''}" mat-header-cell *matHeaderCellDef class=" text-primary"> GPS </th>
                  <td [ngStyle]="{'display':!size?'none':''}" mat-cell *matCellDef="let element"> {{element.Record.gps}} </td>
                </ng-container>

                <ng-container matColumnDef="node">
                  <th [ngStyle]="{'display':!size?'none':''}" mat-header-cell *matHeaderCellDef class=" text-primary"> Nodo </th>
                  <td [ngStyle]="{'display':!size?'none':''}" mat-cell *matCellDef="let element"> {{element.Record.node}} </td>
                </ng-container>

                <ng-container matColumnDef="time">
                  <th mat-header-cell *matHeaderCellDef class=" text-primary"> Timestamp </th>
                  <td mat-cell *matCellDef="let element"> {{element.Record.hour}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
          </div>
      </div>
  </div>
  <div [ngStyle]="{'display':!submitted?'none':''}">
    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>
    <div class="back">
      <button class="btn btn-orange btn-round btn-block" expand="full" type="submit" (click)="back()"> Atrás </button>
    </div>
  </div>
</ion-content>