<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mat-card>
    <div id="map" class="map"></div>
  </mat-card>
  <mat-card>
    <ion-item>
      <ion-label>Devices</ion-label>
      <ion-select (ionChange)="onSelectChange($event)">
        <ion-select-option *ngFor="let device of devices">{{device}}</ion-select-option>
      </ion-select>
    </ion-item>
    <canvas id="canvas">{{ chart }}</canvas>

  </mat-card>
</ion-content>